:root {
  --primary: #f04e4c;
  --green: #00a796;
  --turqoise: #5bc4bf;
  --yellow: #fff685;
  --orange: #f7955d;
  --purple: #8781bd;
  --black: #0c191c;
  --gray-1: #20292e;
  --gray-2: #404c58;
  --gray-3: #668599;
  --gray-4: #9eacbb;
  --gray-5: #90aac1;
  --gray-6: #d0e3f3;
  --white: #ffffff;
  --black: #000000;
  --font-weight-normal: 400;
  --font-weight-medium: 600;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #f8f8f8;
  font-weight: var(--font-weight-normal);
}

ul {
  padding: 0;
  margin: 0; 
}

li {
  list-style-type: none;
  color: var(--black);
  font-size: 0.75em;
}

/* Allign settings button to centered and take even space */
label {
  flex-basis: 100%;
  text-align: center;
  font-weight: 200;
}

main>div {
  border: 1px solid var(--gray-5);
  background: var(--white);
  padding: 20px; 
}

main>h4 {
  padding-left: 8px;
}

.settings-container {
  display: flex;
  flex-direction: column;
  border: solid 1px var(--gray-3);
}

.settings-item {
  display: flex;
  flex-direction: column;
  border-bottom: solid 1px var(--gray-6);
  padding: 8px;
  overflow: hidden;
  padding-top: 0px;
  min-width: 365px;
}

.settings-item:last-child {
  border-bottom: none;
  padding-bottom: 25px;
}

.settings-description {
  font-weight: var(--font-weight-medium);
}

#server-custom-deploy-url {
  overflow: hidden;
  font-size: 0.8em;
  margin-top: 8px;
  background-color: var(--white) !important;
}

textarea:focus {
  outline: none;
}

#url_label {
  font-size: 10px;
  font-weight: var(--font-weight-normal);
  color: var(--steel-gray-1);

}


#url {
  width: 110%;
  background: aliceblue;
  padding-top: 4px;
  height: 1.4em;
  padding-left: 4px;
  color: var(--gray-1);
  font-family: 'Ubuntu Monospace';
  letter-spacing: 0.02em;
}

#url:focus {
  background: #e1f6ff;
}

.submit-container {
  display: flex;
}

.displayed-results {
  display: flex
}

.displayed-results > span { }

.displayed-results > span:first-child {
  width: 260px;
}

.displayed-results > span:last-child {
  width: 80px;
}

.toggle-radio{
  background:#f5f5f5;
  border:1px solid #ccc
}

.toggle-radio>input:checked+label{
  background: #4ba6f7e3;
}

.toggle-radio>input+label:not(:last-of-type){
  border-right:1px solid #ccc
}

.toggle-radio{
  border-radius:4px
}

.toggle-radio{
  display:inline-flex
}

.toggle-radio>input[type=radio]{
  display:none
}

.toggle-radio>input[disabled]+label{
  opacity:.5
}

.toggle-radio>input[disabled]+label:hover{
  cursor:not-allowed
}

.toggle-radio>input+label{
  display:inline-block;
  margin-bottom:0;
  padding:5px 10px;
  float:left;
  cursor:pointer
}

.toggle-radio>input:checked+label{
  transition: background 150ms linear;
}

.toggle-radio[data-style=square]{
  border-radius:0
}

.button {
  text-align: center;
  cursor: pointer;
  border: none;
  color: #ffffff;
  background-color: rgb(0, 120, 212);
  padding: 0.5rem 1.2rem;
  border-radius: 20px;
  font-size: 1rem;
  min-width: 6rem;
  flex-basis: 100%;
  margin: 10px;
  margin-bottom: 0px;
}

.button:hover {
  background-color: rgb(16, 110, 190);
}

.button.disabled {
  pointer-events: none;
  background-color: #cccccc;
  color: #666666;
}

.main {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main .title h3 {
  font-size: 2.3rem;
  font-weight: 300;
  margin: 0.8rem 0;
}

.hidden {
  display: none;
}

.reveal {
  opacity: 0;
}

.reveal:hover {
  opacity: 0.2;
}

.upload-box {
  font-size: 0.8rem;
  color: #666666;
  cursor: pointer;
  width: 14rem;
  height: 10rem;
  background: #fff;
  border: 0.1rem dashed #838388;
  border-radius: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.upload-box.dragover {
  color: #eeeeee;
  border: 0.1rem solid rgb(0, 120, 212);
  box-shadow: inset 0 0 0 0.1rem rgb(0, 120, 212);
}

.upload-box:hover {
  border-color: rgb(0, 120, 212);
}

.upload-box #image-preview {
  max-width: 14rem;
  max-height: 8rem;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

#results-container {
  position: relative;
  width: auto;
  float: left;
  margin-bottom: 2rem;
}

#predictions-container {
  max-height: 20rem;
  width: 420px;
  min-height: 245px;
  background: var(--white);
  border: 1px solid var(--gray-3);
  position: relative;
}

#predicted-results {
  color: white;
  font-size: 1.5rem;
  padding: 20px;
  margin-top: -10px;
}

#predicted-results-header {
  font-weight: 500; 
  border-bottom: 1px solid black;
  display: flex;
}

#loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  margin: 0 auto;
}

#spinner {
  box-sizing: border-box;
  stroke: #cccccc;
  stroke-width: 3px;
  transform-origin: 50%;
  animation: line 1.6s cubic-bezier(0.4, 0, 0.2, 1) infinite,
    rotate 1.6s linear infinite;
}
@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(450deg);
  }
}
@keyframes line {
  0% {
    stroke-dasharray: 2, 85.964;
    transform: rotate(0);
  }
  50% {
    stroke-dasharray: 65.973, 21.9911;
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dasharray: 2, 85.964;
    stroke-dashoffset: -65.973;
    transform: rotate(90deg);
  }
}
