[Unit]
Description=uWSGI instance to serve myproject
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/keras_classifier
ExecStart=/home/ubuntu/.local/bin/uwsgi --ini keras_classifier.ini

[Install]
WantedBy=multi-user.target
